@model RottenTomatoes.Models.MovieResult
@{
    ViewBag.Title = "Movie Page";
}

<div class="featured-page"></div>

<div class="subscribe-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-content">
                    <div class="container">
                        @using (Html.BeginForm("Index", "Movie", FormMethod.Get, new { @id = "subscribe" }))
                        {
                            <div class="row">
                                <div class="col-md-10">
                                    <fieldset>
                                        @Html.TextBox("searchQuery", "", new { @class = "form-control", @id = "email", placeholder = "Search", page = Request.QueryString["page"] })
                                    </fieldset>
                                </div>
                                <div class="col-md-2">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Search</button>
                                    </fieldset>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="subscribe-form" style="margin-bottom: 35px;background-color: #e6e6e6;padding: 0;text-align: inherit;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-content">
                    <div class="container">
                        <ul style="padding: 25px 0px;">
                            <li style="float:left;margin-right: 40px;list-style: none;"><i class="fa fa-history"></i> Recent:</li>
                            @foreach (var item in Model.RecentSearches)
                            {
                                <li style="float:left;margin-right: 40px;list-style: none;"><a href=@Url.Action("Index",new { searchQuery=item })>@item</a></li>
                            }
                        </ul>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured container no-gutter">
    @if (Model != null && Model.Movies != null && Model.Movies.Count() > 0)
    {
        <div class="row posts">
            @foreach (var movie in Model.Movies)
            {
                <div class="item new col-md-4">
                    <a href="@Url.Action("Detail",new { @id=movie.Id })">
                        <div class="featured-item">
                            <img src="@movie.Poster.Original" alt="" style="height:350px">
                            <h4>@movie.Title | (@movie.Year)</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <h3 style="margin: auto;margin-bottom: 50px;text-align:center;border-bottom: solid 1px #ececec;padding-bottom: 20px;">Please enter a movie name!</h3>
    }
</div>

<div class="page-navigation">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Movies != null && Model.Movies.Count() > 0)
            {
                <div class="col-md-12">
                    <ul>
                        @{
                            int counter = Convert.ToInt32(Math.Ceiling(Model.Total / 6f));
                            for (int i = 1; i <= counter; i++)
                            {
                                if (i == 1)
                                {
                                    <li class="@((Request.QueryString["page"] == null) ? "current-page" : "" )">@Html.ActionLink(i.ToString(), "Index", new { searchQuery = Request.QueryString["searchQuery"], page = i })</li>
                                }
                                else
                                {
                                    <li class="@((i.ToString() == Request.QueryString["page"]) ? "current-page" : "" )">@Html.ActionLink(i.ToString(), "Index", new { searchQuery = Request.QueryString["searchQuery"], page = i })</li>
                                }
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>