@model RottenTomatoes.Models.MovieResult
@{
    ViewBag.Title = "Movie Page";
}

<div class="subscribe-form" style="margin-bottom: 35px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-content">
                    <div class="container">
                        @using (Html.BeginForm("Index", "Movie", FormMethod.Get, new { @id = "subscribe" }))
                        {
                            <div class="row">
                                <div class="col-md-10">
                                    <fieldset>
                                        @Html.TextBox("searchQuery", "", new { @class = "form-control", @id = "email", placeholder = "Search", page = Request.QueryString["page"] })
                                    </fieldset>
                                </div>
                                <div class="col-md-2">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Search</button>
                                    </fieldset>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="featured container no-gutter">
    <div class="row posts">
        @if (Model != null && Model.Movies.Count() > 0)
        {
            foreach (var movie in Model.Movies)
            {
                <div class="item new col-md-4">
                    <a href="single-product.html">
                        <div class="featured-item">
                            <img src="@movie.Poster.Original" alt="" style="height:350px">
                            <h4>@movie.Title | (@movie.Year)</h4>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <h3 style="margin: auto;margin-bottom: 50px;">Please enter a movie name!</h3>
        }
    </div>
</div>

<div class="page-navigation">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Movies.Count() > 0)
            {
                <div class="col-md-12">
                    <ul>
                        @{
                            int counter = Convert.ToInt32(Math.Ceiling(Model.Total / 6f));
                            for (int i = 1; i <= counter; i++)
                            {
                                if (i == 1)
                                {
                                    <li class="@((Request.QueryString["page"] == null) ? "current-page" : "" )">@Html.ActionLink(i.ToString(), "Index", new { searchQuery = Request.QueryString["searchQuery"], page = i })</li>
                                }
                                else
                                {
                                    <li class="@((i.ToString() == Request.QueryString["page"]) ? "current-page" : "" )">@Html.ActionLink(i.ToString(), "Index", new { searchQuery = Request.QueryString["searchQuery"], page = i })</li>
                                }
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>